* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--main-font);
}

:root {
--main-font: 'Montserrat';
--second-font: 'Roboto';
--main-color: #ffffff;
}

/* 
font-family: 'Montserrat', ;
font-family: 'Roboto', ;
 */

   /* HEADER */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  width: 100vw;
  background-image: url(./img/blue.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  width: 75vw;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  width: 7vh;
  height: 7vh;
  border: 3px solid white;
  border-radius: 100%;;
}

.icon {
  height: 3vh;
  width: 3vh;
}

.header-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 30vw;
  margin-left: 25vw;
}

.header-image {
  position: absolute;
  top: 45vh;
  left: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  background-image: url(./img/pic_me.jpg);
  background-position: center;
  background-size: cover;
}

.intro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100vw;
  background-color: darkblue;
}

.text-uppercase {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  font-family: var(--second-font);
  color: var(--main-color);
}

.header-h1 {
  text-align: left;
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 3.5em;
}

.header-h2 {
  text-align: left;
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 2em;
}



/* Mobile-landscape */
@media (min-width: 480px) {}

/* Tablet-portrait */
@media (min-width: 768px) {}

/* Tablet-landscape */
@media (min-width: 992px) {}

/* Laptop and larger */
@media (min-width: 1200px) {

}