* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
--main-font: 'Montserrat';
--second-font: 'Roboto';
--main-color: #ffffff;
--second-color: #F4F4F4;
--third-color: #007FC6;
}

/* 
font-family: 'Montserrat', ;
font-family: 'Roboto', ;
 */

   /* HEADER */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  background-image: url(./img/blue.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  width: 75vw;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  width: 7vh;
  height: 7vh;
  border: 3px solid white;
  border-radius: 100%;
}

.icon-box-large {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  width: 16vh;
  height: 16vh;
  border: 3px solid var(--third-color);
  border-radius: 100%;
  background-color: var(--third-color);
}

.icon {
  height: 3vh;
  width: 3vh;
}

.header-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 30vw;
  margin-left: 25vw;
}

.header-image {
  position: absolute;
  top: 45vh;
  left: 65vw;
  height: 10vw;
  width: 10vw;
  border: 3px solid white;
  border-radius: 100%;
  background-image: url(./img/pic_me.jpg);
  background-position: center;
  background-size: cover;
}

.header-h1 {
  text-align: left;
  color: var(--main-color);
  font-size: 3.5em;
}

.header-h2 {
  text-align: left;
  color: var(--main-color);
  font-size: 2em;
}

.header-h3 {
  text-align: left;
  color: var(--third-color);
  font-size: 1.5em;
  margin: 1vh 0vh 1vh 0vh;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
}

.container:nth-child(odd) {
  background-color: var(--main-color);
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
}

.block-cards-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.card-small {
  display: flex;
  flex-direction: column;
  width: 53vw;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60vw;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  height: 35vh;
}

.tech {
  height: 45vh;
}

.project {
  height: 150vh;
  justify-content: space-evenly;
}

.article {
  height: 110vh;
  justify-content: space-evenly;
}

.skill {
  height: 50vh;
  justify-content: space-evenly;
}

.external {
  height: 50vh;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: var(--third-color);
}


.card-image {
  height: 25vh;
  width: 25vw;
}

.project-text {
  margin-bottom: 1vh;
}

.tag {
  background-color: var(--third-color);
  color: #000;
  border-radius: 1vh;
  padding: 0.8vh;
  font-weight: 700;
  font-size: x-small;
}

.text-mon {
  font-family: var(--main-font);
}

.text-rob {
  font-family: var(--second-font);
}

.text {
  display: flex;
  align-items: center;
  height: 20vh;
  width: 50vw;
}

.text-uppercase {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  color: var(--main-color);
}

.text-highlight {
  color: var(--third-color);
}

.text-bold {
  font-weight: bold;
}

.text-title {
  background-color: var(--third-color);
  padding: 1vh;
  font-weight: 700;
  border-radius: .5vh;
}

.text-center {
  text-align: center;
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

/* Mobile-landscape */
@media (min-width: 480px) {}

/* Tablet-portrait */
@media (min-width: 768px) {}

/* Tablet-landscape */
@media (min-width: 992px) {}

/* Laptop and larger */
@media (min-width: 1200px) {

}